<div class="movie-list">
  <h1>GOOD MOVIES</h1>
</div>

<p-sidebar [(visible)]="sidebarVisible2" position="right">
  <div *ngIf="movieDetails">
    <img class="movieDetailsImg" src="{{movieDetails.poster}}" alt="Movie">
    <h3><a [href]="movieDetails.url" target="_blank">{{ movieDetails.title }}</a></h3>
    
    <p>{{ movieDetails.plot }}</p>

    <div *ngIf="movieDetails.actors && movieDetails.actors.length > 0">
      <h4>Actors:</h4>
      <ul>
        <li *ngFor="let actor of movieDetails.actors" (click)="showMoviesByPerson(actor.name)">
          {{ actor.name }}
        </li>
      </ul>
    </div>

    
    <div *ngIf="movieDetails.directors && movieDetails.directors.length > 0">
      <h4>Directors:</h4>
      <ul>
        <li *ngFor="let director of movieDetails.directors" (click)="showMoviesByPerson(director.name)">
          {{ director.name }}
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="moviesByPerson && moviesByPerson.length > 0">
    <h4>Movies by {{ selectedPersonName }}:</h4>
    <ul>
      <li *ngFor="let movie of moviesByPerson">
        <a [href]="movie.url" target="_blank">{{ movie.title }}</a>
      </li>
    </ul>
  </div>
</p-sidebar>

<div class="movie-container">
  
      <div class="movie-card" *ngFor="let movie of moviesWithActors" (click)="showMovieDetails(movie.title)">

        <img src="{{movie.poster}}" alt="Movie">
        <div class="movie-details">
          <h3>{{movie.title}}</h3>

        </div>

      </div>
   
</div>