body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .movie-list {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .movie-container {
    display: grid;
    align-content: center; /* 垂直方向上整体居中 */
    justify-content: center; /* 水平方向上整体居中 */
    gap: 20px; /* 网格之间的间隙 */
    grid-template-columns: repeat(5, 1fr); /* 一行有 5 列，每列占用相等的空间 */
    padding: 20px;
  }
  
  .movie-card {
    width: 100%; /* 确保网格内的内容占用整个网格 */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .movie-details {
    padding: 10px;
    text-align: center; /* 内容居中 */
  }
  
.movieDetailsImg{
  width: 100%;
}

a {
  text-decoration: none; /* 取消下划线 */
  color: inherit; /* 使用继承的颜色 */
}

a:hover {
  color: #007bff; /* 修改鼠标悬停时的颜色 */
}


@media screen and (max-width: 600px) {
  body {
    font-size: 14px; 
  }

  .movie-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  
  body {
    font-size: 16px; 
  }

  .movie-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
  
  body {
    font-size: 16px; 
  }

  .movie-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
